{% extends 'base.html.twig' %}

{% block body %}
<div class="detaile">
    <div><h1>{{ film.titre }}<h1></div>
    <div>{{ film.description }}</div>
    <div>Il a reçu une note de {{ film.score }}/10 de la part de {{ film.NbVotant }} votant(s)</div>
    <div>{{ form(form) }}</div>
</div>

{% endblock %}